<!-- Juices -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        Canopy Fresh Juices
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">Wonder Woman &nbsp;&nbsp;</span><span class="instore-item-description"> Beets,	Celery,	Banana,	Grapes,	Carrots, Gogi, Lemon, Apple</span></p>
        <p><span class="instore-item-name">Green Dream &nbsp;&nbsp;</span><span class="instore-item-description"> Romaine,	Spinach,	Cucumber,	Lemon,	Apple</span></p>
        <p><span class="instore-item-name">White Party &nbsp;&nbsp;</span><span class="instore-item-description"> Guava,	Grapes,	Apple,	Burdock,	Coconut	milk</span></p>
        <p><span class="instore-item-name">Morning BEETs &nbsp;&nbsp;</span><span class="instore-item-description"> Guava,	Beets,	Carrots,	Celery,	Red	Cabbage,	Watermelon,	Apple</span></p>
        <p><span class="instore-item-name">Bitter Sweet &nbsp;&nbsp;</span><span class="instore-item-description"> Celery,	Carrots,	Pineapple,	Bitter	melon,	Apple</span></p>
        <p><span class="instore-item-name">Caribbean &nbsp;&nbsp;</span><span class="instore-item-description"> Guava,	Pineapple,	Apple,	Burdock,	Coconut	milk</span></p> 
    </div>
</div>

<!-- Juices with Chia -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        Juices with Chia
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">Chia No. 1 &nbsp;&nbsp;</span><span class="instore-item-description"> Carrots,	Lemon,	Apple</span></p>
        <p><span class="instore-item-name">Chia No. 2 &nbsp;&nbsp;</span><span class="instore-item-description"> Beets,	Pineapple,	Guava</span></p>
        <p><span class="instore-item-name">Chia No. 3 &nbsp;&nbsp;</span><span class="instore-item-description"> Celery,	Pineapple,	Apple</span></p>
        <p><span class="instore-item-name">Chia No. 4 &nbsp;&nbsp;</span><span class="instore-item-description"> Watermelon,	Strawberry,	Blueberry,	Raspberry</span></p>
    </div>
</div>

<!-- Smoothies -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        Canopy Smoothies
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">Purple	Bomb &nbsp;&nbsp;</span><span class="instore-item-description"> Strawberries,	Blueberries,	Dates,	Coconut	oil,	Coconut	milk</span></p>
        <p><span class="instore-item-name">Minion's Favorite &nbsp;&nbsp;</span><span class="instore-item-description"> Banana,	Dates,	Coconut	water</span></p>
        <p><span class="instore-item-name">Superman &nbsp;&nbsp;</span><span class="instore-item-description"> Celery,	Cucumber,	Ginger,	Apple,	Tea</span></p>
        <p><span class="instore-item-name">Warrior &nbsp;&nbsp;</span><span class="instore-item-description"> Beets,	Spinach,	Carrots,	Romaine,	Red	cabbage,	Strawberries,	
Blueberries,	Raspberries</span></p>
        <p><span class="instore-item-name">Happiness &nbsp;&nbsp;</span><span class="instore-item-description"> Banana,	Lemon,	Carrots	</span></p>
    </div>
</div>

<!-- Single Juices -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        Single Juices
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">Apple Juice &nbsp;&nbsp;</span><span class="instore-item-description"> 120</span></p>
        <p><span class="instore-item-name">Watermelon Juice &nbsp;&nbsp;</span><span class="instore-item-description">70</span></p>
        <p><span class="instore-item-name">Lemon Juice &nbsp;&nbsp;</span><span class="instore-item-description">50</span></p>
    </div>
</div>

<!-- Juices with Black Tea -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        Fresh Juices with Black Tea
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">Black Tea with Apple &nbsp;&nbsp;</span><span class="instore-item-description"> 80</span></p>
        <p><span class="instore-item-name">Black Tea with Lemon &nbsp;&nbsp;</span><span class="instore-item-description">55</span></p>
        <p><span class="instore-item-name">Black Tea with Apple and Lemon &nbsp;&nbsp;</span><span class="instore-item-description">85</span></p>
    </div>
</div>

<!-- Fresh Juice Cocktail -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        Fresh Juice Cocktail
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">Tropical Drink &nbsp;&nbsp;</span><span class="instore-item-description"> 160</span></p>
    </div>
</div>

<!-- Beer -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        Craft Beer
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">Lager</span></p>
        <p><span class="instore-item-name">India Pale Ale</span></p>
        <p><span class="instore-item-name">Lambic</span></p>
    </div>
</div>

<!-- Vegan Food -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        Vegan Food
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">Hawaiian Whole Wheat Burger &nbsp;&nbsp;</span><span class="instore-item-description"> 70</span></p>
        <p><span class="instore-item-name">King Oyster Mushroom Whole Wheat Burger &nbsp;&nbsp;</span><span class="instore-item-description">90</span></p>
        <p><span class="instore-item-name">Chef's Special Tempeh Whole Wheat Burger &nbsp;&nbsp;</span><span class="instore-item-description">90</span></p>
        <p><span class="instore-item-name">Black Bean Patty	Whole Wheat	Burger &nbsp;&nbsp;</span><span class="instore-item-description"> 110</span></p>
        <p><span class="instore-item-name">Salad with Nuts and Tempeh &nbsp;&nbsp;</span><span class="instore-item-description">100</span></p>
    </div>
</div>

<!-- C - C - C - Combos -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        Combos
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">Combo A + 50 NTD</br></span><span class="instore-item-description"> Choose One Drink (Lemon	juice/Black	tea	with	lemon/Americano/Water	melon	juice/Earl	
grey)</span></p>
        <p><span class="instore-item-name">Combo B + 90 NTD </br></span><span class="instore-item-description">Choose One Side Dish (Chia Pudding / Mashed Potatoes) 
            </br> Salad 
            </br> &amp; One Drink (Lemon	juice/Black	tea	with lemon/Americano/Watermelon	juice/Earl grey)</span></p>
        <p><span class="instore-item-name">Combo C + 140 NTD </br></span><span class="instore-item-description">Choose One Side Dish (Chia Pudding / Mashed Potatoes) 
            </br> Salad
            </br> Daily Dessert
            </br> &amp; One Drink (Lemon	juice/Black	tea	with lemon/Americano/Watermelon	juice/Earl grey)
            </br></br>Upgrade Your Drink - 60 NTD off Any Drink</span></p>
    </div>
</div>

<!-- Vegan Dessert -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        Vegan Dessert
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">Raw Cheese Cake &nbsp;&nbsp;</span><span class="instore-item-description"> 120</span></p>
        <p><span class="instore-item-name">Daily Dessert &nbsp;&nbsp;</span><span class="instore-item-description">Ask Me</span></p>
    </div>
</div>


<!-- Disclaimer -->

<div class="col-xs-12">
    <div class="instore-item-description" style="text-align: center;">
    </br>
        At	CANOPY	we	don’t	use	any	animal	products,	and	we	don’t	add	water,	nor	sugar. </br>
        Best	quality	and	carefully	selected	ingredients,	all	you	have	to	do	is	to	enjoy	the	food	and	juices	we	serve.
        </br></br>We provide take-away / delivery service.
    </div>
</div>
