<!-- Juices -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        卡諾比經典慢磨果汁
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">枸杞夫人 &nbsp;&nbsp;</span><span class="instore-item-description"> 甜菜根、西洋芹、香蕉、葡萄、紅蘿蔔、枸杞、檸檬、蘋果</span></p>
        <p><span class="instore-item-name">綠色幻夢 &nbsp;&nbsp;</span><span class="instore-item-description"> 蘿蔓、菠菜、小黃瓜、檸檬、蘋果</span></p>
        <p><span class="instore-item-name">白色派對 &nbsp;&nbsp;</span><span class="instore-item-description"> 芭樂、葡萄、蘋果、牛蒡、椰奶</span></p>
        <p><span class="instore-item-name">活力早晨 &nbsp;&nbsp;</span><span class="instore-item-description"> 芭樂、甜菜根、紅蘿蔔、西洋芹、紫甘藍、西瓜、蘋果</span></p>
        <p><span class="instore-item-name">冰雪奇緣 &nbsp;&nbsp;</span><span class="instore-item-description"> 西洋芹、紅蘿蔔、鳳梨、苦瓜、蘋果</span></p>
        <p><span class="instore-item-name">加勒比海 &nbsp;&nbsp;</span><span class="instore-item-description"> 芭樂、鳳梨、蘋果、牛蒡、椰奶</span></p> 
    </div>
</div>

<!-- Juices with Chia -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        奇亞籽慢磨果汁
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">奇亞籽一號 &nbsp;&nbsp;</span><span class="instore-item-description"> 紅蘿蔔、檸檬、蘋果</span></p>
        <p><span class="instore-item-name">奇亞籽二號 &nbsp;&nbsp;</span><span class="instore-item-description"> 甜菜根、鳳梨、蘋果</span></p>
        <p><span class="instore-item-name">奇亞籽三號 &nbsp;&nbsp;</span><span class="instore-item-description"> 西洋芹、鳳梨、蘋果</span></p>
        <p><span class="instore-item-name">奇亞籽四號 &nbsp;&nbsp;</span><span class="instore-item-description"> 西瓜、草莓、藍莓、覆盆子</span></p>
    </div>
</div>

<!-- Smoothies -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        卡諾比經典果昔
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">紫色炸彈 &nbsp;&nbsp;</span><span class="instore-item-description">草莓、藍莓、椰棗、椰子油、椰奶</span></p>
        <p><span class="instore-item-name">小小兵最愛 &nbsp;&nbsp;</span><span class="instore-item-description"> 香蕉、椰棗、椰子水</span></p>
        <p><span class="instore-item-name">湖畔 &nbsp;&nbsp;</span><span class="instore-item-description"> 西洋芹、蘋果、小黃瓜、薑、蘋果、綠茶</span></p>
        <p><span class="instore-item-name">勇士 &nbsp;&nbsp;</span><span class="instore-item-description">  甜菜根、菠菜、紅蘿蔔、蘿蔓、紫甘藍、草莓、藍莓、覆盆子</span></p>
        <p><span class="instore-item-name">幸福 &nbsp;&nbsp;</span><span class="instore-item-description"> 香蕉、檸檬、紅蘿蔔</span></p>
    </div>
</div>

<!-- Single Juices -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        卡諾比淨化果汁
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">蘋果汁 &nbsp;&nbsp;</span><span class="instore-item-description"> 120</span></p>
        <p><span class="instore-item-name">西瓜汁 &nbsp;&nbsp;</span><span class="instore-item-description">70</span></p>
        <p><span class="instore-item-name">檸檬汁 &nbsp;&nbsp;</span><span class="instore-item-description">50</span></p>
    </div>
</div>

<!-- Juices with Black Tea -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        卡諾比水果茶
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">蘋果紅茶 &nbsp;&nbsp;</span><span class="instore-item-description"> 80</span></p>
        <p><span class="instore-item-name">檸檬紅茶 &nbsp;&nbsp;</span><span class="instore-item-description">55</span></p>
        <p><span class="instore-item-name">蘋果檸檬紅茶 &nbsp;&nbsp;</span><span class="instore-item-description">85</span></p>
    </div>
</div>

<!-- Fresh Juice Cocktail -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        鮮果汁調酒
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">熱帶島嶼 &nbsp;&nbsp;</span><span class="instore-item-description"> 160</span></p>
    </div>
</div>

<!-- Beer -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        精釀啤酒
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">拉格</span></p>
        <p><span class="instore-item-name">印度淡愛爾</span></p>
        <p><span class="instore-item-name">Lambic</span></p>
    </div>
</div>

<!-- Vegan Food -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        純素餐點
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">夏威夷全麥堡 &nbsp;&nbsp;</span><span class="instore-item-description"> 70</span></p>
        <p><span class="instore-item-name">杏鮑菇全麥堡 &nbsp;&nbsp;</span><span class="instore-item-description">90</span></p>
        <p><span class="instore-item-name">招牌天貝全麥堡 &nbsp;&nbsp;</span><span class="instore-item-description">90</span></p>
        <p><span class="instore-item-name">黑豆排堡 &nbsp;&nbsp;</span><span class="instore-item-description"> 110</span></p>
        <p><span class="instore-item-name">堅果沙拉 &nbsp;&nbsp;</span><span class="instore-item-description">100</span></p>
    </div>
</div>

<!-- C - C - C - Combos -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        套餐
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">Combo A + 50 NTD</br></span><span class="instore-item-description"> 可任選一杯飲品（檸檬汁、檸檬紅、黑咖啡、西瓜汁、伯爵茶）</span></p>
        <p><span class="instore-item-name">Combo B + 90 NTD </br></span><span class="instore-item-description">含配餐(奇亞籽布丁或香草馬鈴薯泥) 
            </br> 沙拉 
            </br> &amp; 任選一杯飲品</span></p>
        <p><span class="instore-item-name">Combo C + 140 NTD </br></span><span class="instore-item-description">含配餐(奇亞籽布丁或香草馬鈴薯泥) 
            </br> 沙拉
            </br> 當日甜點
            </br> &amp; （檸檬汁、檸檬紅、黑咖啡、西瓜汁、伯爵茶）
            </br></br>以上套餐可加 50 元 升級卡諾比慢磨果汁</span></p>
    </div>
</div>

<!-- Vegan Dessert -->

<div class="col-xs-12 col-sm-3">
    <div class="instore-menu-category">
        純素甜點
    </div>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="instore-juices">
        <p><span class="instore-item-name">裸食蛋糕 &nbsp;&nbsp;</span><span class="instore-item-description"> 120</span></p>
        <p><span class="instore-item-name">當日甜點 &nbsp;&nbsp;</span><span class="instore-item-description">價格及品項請詢問店員</span></p>
    </div>
</div>


<!-- Disclaimer -->

<div class="col-xs-12">
    <div class="instore-item-description" style="text-align: center;">
        </br>卡諾比產品一律不使用動物性製品，不加水、不加糖、食材皆嚴格挑選、清洗、料理，請安心食用。 
        </br>歡迎大家自行攜帶餐具杯子
        </br></br>我們提供外帶/外送服務.
    </div>
</div>
