<!-- This will be the events page -->

<div class="container-fluid">
  <div class="row">

    <div class="top-of-page-text">

      <p>
        Events
      </p>

    </div>

  </div>
</div>

<div class="container">

  <div id="current-events">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="event">
          <div class="image-src">

          </div>
          <p class="event-name">
            Healthy Yoga
          </p>
          <p class="event-place">
            Cafeteria
          </p>
          <p class="event-time">
            Monday @ 5pm
          </p>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="event">
          <div class="image-src">

          </div>
          <p class="event-name">
            Healthy Yoga
          </p>
          <p class="event-place">
            Cafeteria
          </p>
          <p class="event-time">
            Monday @ 5pm
          </p>

        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="event">
          <div class="image-src">

          </div>
          <p class="event-name">
            Healthy Yoga
          </p>
          <p class="event-place">
            Cafeteria
          </p>
          <p class="event-time">
            Monday @ 5pm
          </p>
        </div>

      </div>

    </div>

  </div>

</div>
