<!-- Events Page /events -->
<!-- aj help : this page needs a route and it is setup to take
     Date and Time, Place, Event Name, and Description.  -->

<div class="container-fluid">
  <div class="row">

    <div class="top-of-page-text">

      <p>
        Events
      </p>

    </div>

  </div>
</div>

<div class="container">

<!-- Current Events -->

  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="current-events">

        <div class="event-time">
          <p class="p-event">
            星期一
            <span class="rwd-break">@ 4pm</span>
          </p>
        </div>

        <div class="event-info">

          <div class="event-name">
            <p class="p-event">
              Health Yoga ;)
            </p>

          </div>

          <div class="event-place">
            <a href="#">
              <p class="p-event">
                <span class="glyphicon glyphicon-map-marker"></span>
                Nanjing, Fuxing
              </p>
            </a>
          </div>

        </div>

        <div class="more-info">

            <div class="dropdown-link-area" data-toggle="collapse" data-target="#modal-description">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </div>

            <div id = "modal-description" class="collapse">
              Hello :D
            </div>

        </div>

      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="current-events">

        <div class="event-time">
          <p class="p-event">
            8.13.17
            <span class="rwd-break">@ 4pm</span>
          </p>
        </div>

        <div class="event-info">

          <div class="event-name">
            <p class="p-event">
              One Punch Man Cosplay Event
            </p>
          </div>

          <div class="event-place">
            <a href="#">
              <p class="p-event">
                <span class="glyphicon glyphicon-map-marker"></span>
                Lakeshore Hotel Suao
              </p>
            </a>
          </div>

        </div>

        <div class="more-info">
          <a href="#">
            <div class="dropdown-link-area">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
          </a>
        </div>

      </div>
    </div>

  </div>




</div>
