<!-- /instoremenu -->

<!-- aj help - read the tags for additional information -->

<div class="container-fluid">
  <div class="row">

    <div class="menu-top-of-page-text">

      <p>
        Menu
      </p>

    </div>

  </div>
</div>

<div class="col-xs-12 photo-gallery">

  <div class="menu-picture">
    <div class="menu-picture-centering">
    <!-- pictures, don't forget to change the source -->
      <img src="https://scontent-tpe1-1.cdninstagram.com/t51.2885-15/e35/20635297_117807862205013_2172518771850215424_n.jpg" />
    </div>
  </div>

  <div class="menu-picture">
    <div class="menu-picture-centering">
    <!-- pictures, don't forget to change the source -->
      <img src="http://imgs.abduzeedo.com/files/articles/fantastic-illustrations-lukas-brezak/164722_10963042_ll.jpg" />
    </div>
  </div>

  <div class="menu-picture">
    <div class="menu-picture-centering">
    <!-- pictures, don't forget to change the source -->
      <img src="http://imgs.abduzeedo.com/files/articles/fantastic-illustrations-lukas-brezak/197019_1481898_ll.jpg" />
    </div>
  </div>

</div>

<div class="container">
  <div class="row">

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <!-- This Takes care of category selectors -->
      <p class="category-for-menu">
        - Juices -
      </p>

    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <!-- This takes care of each menu item and it's ingredients -->
      <p class="menu-item">
        Menu Item 1
      </p>
      <p class="menu-item-ingredients">
        Guava, Apples, Grapes, Child Tears, Watermelon, Delicious Foods
      </p>
    </div>

  </div>
</div>
