<div class="container-fluid">
  <div class="row">

    <div class="top-of-page-text">

      <p>
        Nutrition Information
      </p>

    </div>

  </div>
</div>

<div class="container">
  <div class = "row add-bottom-border">

    <div id = "nutrition-category-markers" class="visible-md visible-lg">

      <div class="col-md-5 visible-md visible-lg">
        <!-- Name of Product -->
        <p class = "product-name-marker">
          Drink Name
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Calories -->
        <p>
          Calories
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Protein -->
        <p>
          Protein
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Fat -->
        <p>
          Fat
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Carbohydrates -->
        <p>
          Carbs
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Sugar -->
        <p>
          Sugar
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Dietary Fiber -->
        <p>
          Fiber
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Sodium -->
        <p>
          Sodium
        </p>
      </div>

    </div>
  </div>

  <div class="row add-bottom-border">

    <div id = "nutrition-list-item" class="visible-md visible-lg">

      <div class="col-md-5 visible-md visible-lg">
        <!-- Name of Product -->
        <p class="drink-name">
          Pineapple Boom Boom Juice
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Calories -->
        <p>
          150
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Protein -->
        <p>
          150
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Fat -->
        <p>
          150
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Carbohydrates -->
        <p>
          150
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Sugar -->
        <p>
          150
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Dietary Fiber -->
        <p>
          150
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Sodium -->
        <p>
          150
        </p>
      </div>

    </div>

  </div>

  <!-- Changing the Style to an Accordion Menu for Mobile and Small tabs -->

  <div id = "mobile-accordion" class="col-sm-12 visible-xs visible-sm">
    <div class="panel-group" id="accordion">

      <!-- First Nutrition Line Item -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Pineapple Boom Boom Juice</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body height-adjustment">

            <div class="col-xs-8">

              <p>
                Calories
              </p>

            </div>

            <div class="col-xs-4">

              <p class="accordion-numbers">
                150
              </p>

            </div>

            <div class="col-xs-4">

              <p>
                Protein
              </p>

            </div>

            <div class="col-xs-2">

              <p class="accordion-numbers">
                150
              </p>

            </div>

            <div class="col-xs-4">

              <p>
                Fat
              </p>

            </div>

            <div class="col-xs-2">

              <p class="accordion-numbers">
                150
              </p>

            </div>

            <div class="col-xs-4">

              <p>
                Carbohydrates
              </p>

            </div>

            <div class="col-xs-2">

              <p class="accordion-numbers">
                150
              </p>

            </div>

            <div class="col-xs-4">

              <p>
                Sugar
              </p>

            </div>

            <div class="col-xs-2">

              <p class="accordion-numbers">
                150
              </p>

            </div>

            <div class="col-xs-4">

              <p>
                Fiber
              </p>

            </div>

            <div class="col-xs-2">

              <p class="accordion-numbers">
                150
              </p>

            </div>

            <div class="col-xs-4">

              <p>
                Sodium
              </p>

            </div>

            <div class="col-xs-2">

              <p class="accordion-numbers">
                150
              </p>

            </div>

          </div>
        </div>
      </div>

      <!-- Second Nutrition Line Item -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body height-adjustment">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
      </div>
    </div>
  </div>
</div>
