<<<<<<< HEAD
              <% end %>
            </div>
          </div>

          <div class="col-xs-2">
            <div class="cart-item-delete" data-hook="cart_item_delete">
              <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), '#', class: 'destroy', id: "delete_#{dom_id(line_item)}" %>
            </div>
=======
            <% end %>
>>>>>>> 4a53c9b9e91d25f3d50013029822a25a4a3811e3
