<div class="change-me" id="order_details" data-hook>
  <div class="change-me-2">
    <h3 class="change-me-3"><%= Spree.t(:confirm) %></h3>
  </div>
  <div class="change-me-4">
    <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:place_order), class: 'btn btn-lg btn-success' %>
  <script>Spree.disableSaveOnClick();</script>
</div>
