<%# @body_id = 'product-details' %>

<% cache cache_key_for_product do %>

<!-- handles splash image and product image -->

<div class="row no-gutters">
  <div class="col-xs-6">
    <div class="product-splash-image">
        <%= product_image(@product, itemprop: "image") %>
    </div>
  </div>

<!-- handles product text -->

  <div class="col-xs-6">

    <div class="row no-gutters">
      <div class="col-xs-12">
        <div class="product-name">
          <p>
            <%= @product.name %>
          </p>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="productdesc">
          <p>
            <%= product_description(@product) %>
          </p>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="productmakeup">
          <p>
            Generic Text for Product Ingredients, Apples, Boom boom, and Guava.
            <#%= @product.ingredients %>
          </p>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="button-contain">


        <!-- Need to Add functionality to this button -->
        <%= button_tag class: 'ghost-button-blue', id: 'add-to-cart-button', type: :submit do %>
          <p>
            ADD TO CART
          </p>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>




<% end %>
