<%# @body_id = 'product-details' %>

<% cache cache_key_for_product do %>

<!-- handles splash image and product image -->
<div id="product-container">
  <div class="product-splash-image">
    <!-- background-image: url("/images/splat.png") -->
  </div>
  <!-- <div class="row no-gutters"> -->

    <div class="col-md-6">

      <div class="product-holder-image">
          <%= product_image(@product, itemprop: "image") %>

          <!-- additional-information is the Nutrition information Hover state -->

      </div>

    </div>

  <!-- handles product text -->

    <div class="col-md-6">

      <!-- <div class="row no-gutters"> -->
        <div class="col-xs-12 flex-column">
          <div class="product-name">
            <p>
              <%= @product.name %>
            </p>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="productdesc">
            <p>
              <%= product_description(@product) %>
            </p>
          </div>
        </div>

        <div id="cart-form" data-hook="cart_form" class="col-xs-12">
          <div class="button-contain flex-column">
             <%= render :partial => "dynamic_variant_cart_form" %>
          </div>
        </div>

      <!-- </div> -->

    </div>

  <!-- </div> -->

</div>



<% end %>
