<div id="footer">
  <div id="footer-top">
    <div class="row">

      <div class="col-sm-4">
          <p>
            icon: email_address@whatever.com.tw
          </p>
      </div>

      <div class="col-sm-4">
          <p>
            icon: +866 123.456.7890
          </p>
      </div>

      <div class="col-sm-4">
          <p>
            o o o o (social media icons)
          </p>
      </div>

    </div>
  </div>

  <div id="footer-middle">
    <div class="row">

      <div class="col-sm-4">
          <p>
            OUR STORE <br />
            1F, #23-4, Lane 5, Messing Around Rd. <br />
            ThatOne District, ThatOther City 678 <br />
            Taiwan<br />
          </p>
      </div>

      <div class="col-sm-4">
          <p>
            STORE HOURS <br />
            Monday - Friday: 10am - 8pm <br />
            Saturday: 8am - 8pm <br />
            Sunday: Closed<br />
          </p>
      </div>

      <div class="col-sm-4">
          <p>
            HELP <br />
            Terms of Use <br />
            Privacy Policy <br />
          </p>
      </div>

    </div>
  </div>


  <div id="footer-bottom">

    <div class="row">

      <div class="col-xs-12">

        <p class="copyright-info">
            ©2017 Canopy Juice
        </p>

      </div>

    </div>

  </div>

</div>
