<div id="footer">
  <div id="footer-top">
    <div class="row">

      <div class="col-sm-4">
        <div class="footer-text-center">
          <p>
            <span class="glyphicon glyphicon-envelope">&nbsp;</span>
            canopyjuiceilan@gmail.com
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="footer-text-center">
          <p>
            <span class="glyphicon glyphicon-earphone">&nbsp;</span>
            +866 03 935 8662
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="footer-icons-center">
          <a href="https://www.facebook.com/canopyjuice/" class="fa fa-facebook"></a>
          <a href="https://www.instagram.com/canopyjuiceilan/" class="fa fa-instagram"></a>
        </div>
      </div>

    </div>
  </div>

  <div id="footer-middle">
    <div class="row">

      <div class="col-sm-4">
        <div class="footer-middle-text-center">
          <p>
            OUR STORE <br /><br />
            宜蘭市女中路三段117號<br />
            Yilan City
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="footer-middle-text-center">
          <p>
            STORE HOURS <br /><br />
            Sunday - Tuesday: 12pm - 8pm <br />
            Thursday - Friday: 12pm - 8pm <br />
            Wednesday and Saturday: Closed
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="footer-middle-text-center">
          <p>
            HELP <br /><br />
            Terms of Use <br />
            Privacy Policy
          </p>
        </div>
      </div>

    </div>
  </div>


  <div id="footer-bottom">

    <div class="row">

      <div class="col-xs-12">
        <div class="footer-text-center">

          <p class="copyright-info">
              ©2017 Canopy Juice
          </p>

        </div>
      </div>

    </div>

  </div>

</div>
