<div id="footer">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-4">
        <span>
          <p>
            icon: email_address@whatever.com.tw
          </p>
        </span>
      </div>

      <div class="col-xs-4">
        <span>
          <p>
            icon: +866 123.456.7890
          </p>
        </span>
      </div>

      <div class="col-xs-4">
        <span>
          <p>
            o o o o (social media icons)
          </p>
        </span>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-4">
        <span>
          <p>
            OUR STORE </br>
            1F, #23-4, Lane 5, Messing Around Rd. </br>
            ThatOne District, ThatOther City 678 </br>
            Taiwan
          </p>
        </span>
      </div>

      <div class="col-xs-4">
        <span>
          <p>
            STORE HOURS </br>
            Monday - Friday: 10am - 8pm </br>
            Saturday: 8am - 8pm </br>
            Sunday: Closed
          </p>
        </span>
      </div>

      <div class="col-xs-4">
        <span>
          <p>
            HELP </br>
            Terms of Use </br>
            Privacy Policy </br>
          </p>
        </span>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <span>
          <p>
            ©2017 Canopy Juice
          </p>
        </span>
      </div>
    </div>

  </div>
</div>
