<div id="spree-header">
  <header id="header" data-hook>
    <div class="container-fluid">
      <div class="row">
        <div id="fill" class='col-xs-3'></div>
        <figure id="logo" class='col-xs-6' data-hook>
          <%= logo %>
        </figure>
        <div id="navButtons" class='col-xs-3'>
          <div class="row">
            <div id="user" class='col-xs-4'>
              <img src="assets/user.png" class="user-icon">
            </div>
            <div id="cart" class='col-xs-4'>
              <img src="assets/shop.png" class="cart-icon">
            </div>
            <div id="hamburger" class='col-xs-4'>
              <img src="assets/hamburger.png" class="ham-icon">
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>
