<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <div id="fill" class='col-xs-4'></div>
        <figure id="logo" class='col-xs-4' data-hook>
          <%= logo %>
        </figure>
        <div id="lastHeaderCol" class='col-xs-4'>
          <div class="row">
            <div id="user" class='col-xs-4'></div>
            <div id="cart" class='col-xs-4'></div>
            <div id="hamburger" class='col-xs-4'></div>

          </div>
        </div>

      </div>
    </div>
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>
