<div id="spree-header">
  <header id="header" class="menuUp" data-hook>
    <div id="navigation" class="container-fluid">
      <div class="row">
        <div id="fill" class='col-xs-3'></div>
        <figure id="logo" class='col-xs-6' data-hook>
          <div class="row">
            <div id="logocenter" class="col-xs-12">

              <div class="navLogo">
                <%= logo %>
              </div>
            </div>
          </div>

        </figure>
        <div id="navButtons" class='col-xs-3'>
          <div class="row">
            <div id="user" class='col-xs-3 visible-md visible-lg'>
              <a href="/account" class="navUser">
              </a>
            </div>
            <div id="shopcount" class='col-xs-3 visible-md visible-lg'>
                <a href = "/cart" class=".b-cart__count navCartCount"><%=current_order.item_count if !current_order.nil?%></a>
              </a>
            </div>

            <div id="shopcart" class='col-xs-3 visible-md visible-lg'>
              <a href="/cart" class="navCart">
              </a>
            </div>

            <div id="hamburger" class='col-xs-3'>
              <div id="nav-icon1" class="open-burger">
                <span></span>
                <span></span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div id="menuBar" class="menuBar">

        <div class="menuText row">
          <a href="/" class="col-sm-3 homelink">home

          </a>
          <a href="/shop" class="col-sm-3 shoplink">shop

          </a>
          <a href="/about" class="col-sm-3 aboutlink">our story

          </a>
          <a href="/account" class="col-sm-3 loginlink">login

          </a>

        </div>
      </div>

    </div>
  </header>
</div>
  <!-- <div class="container"> -->
    <!-- <#%= render partial: 'spree/shared/main_nav_bar' if store_menu? %> -->
  <!-- </div> -->
