<!-- <%# @body_id = 'home-page' %>
<%# content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
<%# end %>

<div data-hook="homepage_products">
  <%# cache(cache_key_for_products) do %>
    <%#= render partial: 'spree/shared/products', locals: { products: @products } %>
  <%# end %>
</div> -->

<div id="splash-picture">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6"></div>

      <div class="col-xs-6">
        <span class="slider-text">
          <p>
            This Pineapple Juice is a kick in the teeth. </br>
            Boom Boom Juice.
          </p>
        </span>
        <a style="display: block" href="/products">
          <div class="ghost-button">
            <p>
              SHOP NOW
            </p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>



<!-- We can add erb to grab each featured drink and place/style them to match
the style on the first feature. -->

<div id="featurette">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <div class="feature">
          <img src="/assets/bottle.png" />
          <span class="productName">
            <p>
              <!-- erb to grab featured product name -->
              Product Name
            </p>
          </span>
          <span class="ingredients">
            <p>
              <!-- erb to grab featured product ingredients -->
              Ingredients like Apples, Kiwi, Banana, Powersauce, Hint of green
            </p>
          </span>
          <span class="productPrice">
            <p>
              <!-- erb to grab featured product price -->
              $120
            </p>

          </span>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="feature"><img src="/assets/bottle.png" />

        </div>
      </div>
      <div class="col-xs-3">
        <div class="feature"><img src="/assets/bottle.png" />

        </div>
      </div>
      <div class="col-xs-3">
        <div class="feature"><img src="/assets/bottle.png" />

        </div>
      </div>
    </div>
  </div>
</div>

<div id="big-links">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-xs-6">
        <div class="big-text"></div>
      </div>
      <div class="col-xs-6">
        <div class="big-picture">
          <img src="assets/grapefruit_sm.jpg" />
        </div>
      </div>
      <div class="col-xs-6">
        <div class="big-picture">
          <img src="assets/yoga_sm.jpg" />
        </div>
      </div>
      <div class="col-xs-6">
        <div class="big-text"></div>
      </div>
    </div>
  </div>
</div>

<!-- footer partial goes here -->
