<ul id="sidebar-promotions" class="collapse nav nav-pills nav-stacked" data-hook="admin_promotion_sub_tabs">
  <%= tab :promotions %>
  <%#= tab :promotion_categories %>
  <li> <%= link_to 'Events', '/admin/events' %> </li>
  <li> <%= link_to 'Custom', '/admin/custom' %> </li>
</ul>
