<!-- /login - the user login page -->

<% @body_id = 'login' %>

<div class="container">
  <div class="row">

    <!-- Title -->
    <div class="col-xs-12">
      <div class="top-of-page-text">
        <p>
          Login or Create an Account
        </p>
      </div>
    </div>

  </div>

  <!-- Login/Register -->
  <div class="row">

    <div class="col-md-8 col-md-push-4">
      <p class="title-text">
        Already Registered?
      </p>
      <p class="italic-subtitle">
        Please Login
      </p>
      <%= render :partial => 'spree/shared/login' %>

    </div>

    <div class="col-md-4 col-md-pull-8">
      <p class="title-text">
        New Here?
      </p>
      <p class="italic-subtitle">
        Register Now for Benefits!
      </p>
      <p class="benefits">
        • Stuff <br />
        • More Stuff <br />
        • Even More Stuff! <br />
      </p>

      <a href="/signup">
        <div class="ghost-button-green">
          <p>
            REGISTER NOW
          </p>
        </div>
      </a>

    </div>

  </div>

</div>
